html {
    background-color:#041024;
    background-image:url("Images/SA.png");
}

body {
    background-color: #063364;
    opacity:0.97;
    border-style:solid;
    border-color:#2084DF;
    border-radius:10px;
    border-width:1px;
    margin-left:8%;
    margin-right:8%;
    margin-top:auto;
    margin-bottom:auto;
    padding-top:auto;
    padding-bottom:auto;
    padding-left:3%;
    padding-right:3%;
    font-size:14pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: whitesmoke;
    text-align: center;
}

h2 {
    color: #f9e548;
    text-align: center;
}

h4 {
    color: whitesmoke;
    text-align: center;
}

p {
    color: #cea800;
}

#gametitle {
    font-style:italic;
}

.image {
    display:block;
    margin:0 auto;
    text-align:center;
    word-wrap:break-word;
    max-width:600px;
    font-size:12pt;
    font-style:italic;
}

div img {
    max-width:600px;
    max-height:400px;
    min-width:400px;
    width:auto;
    height:auto;
}

span {
    color:#ffcc8e
}

li {
    color:#ffcc8e
}

footer {
    text-align:center;
    font-style:italic;
    color: grey;
}