body {
    background-color: #091c06;
}

h1 {
    color: whitesmoke;
    text-align: center;
}

h2 {
    color: #f9e548;
    text-align: center;
}

h4 {
    color: whitesmoke;
    text-align: center;
}

p {
    color: #cea800;
}

li {
    color: #cea800;
}